doctype html
html
    head
        title= 'PartNet Template Viewer'
        link(rel='stylesheet', href='/client/css/template_viewer.css')
        link(rel='stylesheet', href='/client/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/vis.min.css')
        link(rel="stylesheet", href="/css/bootstrap.min.css",
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    body
        script(type='text/javascript' src='/client/build/PartNet.bundle.js')
        script(type='text/javascript' src='/js/vis.min.js')
        script(type='text/javascript' src='/client/js/jquery-3.3.1.min.js')
        script(type='text/javascript' src='/client/js/bootstrap-treeview.js')
        script(type="text/javascript" src="/client/js/dat.gui.min.js")

        .main_row
            .main_hier
                h3 Part Hierarchy
                #tree_instance

            .main_qa
                h3 Part Definition and Examples
                #part_definition

        script.
            var params = {
                category_id: '#{category_id}',
            };
            var template_viewer = new TemplateViewer(params);
            template_viewer.start();
